<main>
  <span>Sobre nós</span>
  <h1>Por que somos diferentes?</h1>
  <p>Nós focamos nos detalhos de tudo que fazemos. Tudo para ajudar as empresas de todo o mundo a se concentrarem naquilo que é realmente importante para elas.</p>
</main>

<style>
  main {
    margin: 96px auto;
    text-align: center;
    max-width: 790px;
  }
  span {
    line-height: 1.5;
    font-weight: 600;
    color: var(--main-color);
  }
  h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.96;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  p {
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--text-color);
  }
</style>