<section class="container">
  <div class="depoimento">
    <h3>Veja o que nossos colaboradores falam sobre nós</h3>
    <p>OptimusTech se importa com a saúde dos seus colaboradores e sempre procura nos dar todo tipo de auxílio possível.</p>
    <img src="./avatar.png" alt="retrato de Júlia Castro">
    <span class="nome">Júlia Castro</span>
    <span class="cargo">Desenvolvedora Web</span>
  </div>
</section>

<style>
  .depoimento {
    padding: 64px;
    margin: 96px 16px;
    background: rgba(195, 25, 25, 0.03);
    border-radius: 16px;
    text-align: center;
  }
  h3 {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 20px;
    color: var(--main-color);
  }
  p {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--gray-900);
    letter-spacing: -2%;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .depoimento span {
    display: block;
  }
  .nome {
    font-weight: 500;
    line-height: 1.5;
    color: var(--gray-900);
    margin-top: 16px;
    margin-bottom: 4px;
  }
  .cargo {
    font-size: 0.875rem;
    line-height: 20px;
    color: var(--text-color);
  }

  @media (max-width: 600px) {
    .depoimento {
      padding: 32px;
    }
    p {
      font-size: 1.5rem;
    }
  }
</style>