---
import CardVaga from "../componetes/CardVaga.astro";

---

<section class="container">
  <span>Vagas abertas</span>
  <h1>Estamos procurando por talentos</h1>
  <p>Somos uma equipe 100% remota com pessoas do Brasil inteiro.</p>
  <img src="./image.png" alt="Pessoas em um mesa em reunião">
  <div>
    <h2>Design</h2>
    <div class="vagas-lista">
      <CardVaga titulo="Product Designer" carga="Full-time" salario="7.000"/>
      <CardVaga titulo="UX Designer" carga="Full-time" salario="6.000"/>
    </div>
    <h2>Desenvolvimento de Software</h2>
    <div class="vagas-lista">
      <CardVaga titulo="Desenvolvedor(a) iOS" carga="Full-time" salario="8.000"/>
      <CardVaga titulo="Desenvolvedor(a) Front-end" carga="Full-time" salario="7.000"/>
      <CardVaga titulo="Desenvolvedor(a) Back-end" carga="Full-time" salario="8.000"/>
    </div>
  </div>
</section>

<style>
  section {
    padding: 0 16px;
    padding-top: 96px;
    text-align: center;
  }
  span {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 20px;
    padding: 4px 12px;
    border-radius: 16px;
    color: var(--main-color);
    background: rgba(142, 36, 36, 0.05);
  }
  h1 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--gray-900);
    letter-spacing: -2%;
    margin-top: 16px;
    margin-bottom: 20px;
  }
  h2 {
    text-align: left;
    font-size: 1.25rem;
    line-height: 1.875;
    font-weight: 500;
    color: var(--gray-900);
    margin-top: 64px;
    margin-bottom: 32px;
  }
  p {
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 64px;
  }
  img {
    width: 100%;
  }
  .vagas-lista {
    display: grid;
    gap: 24px;
  }
</style>